Repository fabiomestre/unified-runtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-opencl-write

.github/CODEOWNERS:

*                               @oneapi-src/unified-runtime-maintain

# Level Zero adapter
source/adapters/level_zero      @oneapi-src/unified-runtime-level-zero-write

# CUDA and HIP adapters
source/adapters/cuda            @oneapi-src/unified-runtime-cuda-write
source/adapters/hip             @oneapi-src/unified-runtime-hip-write

# OpenCL adapter
source/adapters/opencl          @oneapi-src/unified-runtime-opencl-write

[SPEC] Add urAdapterSetLoggingCallback entrypoint
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/adapter.yml
  scripts/core/common.yml
  scripts/core/registry.yml
  scripts/templates/ldrddi.cpp.mako
  source/adapters/cuda/adapter.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/adapter.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/adapter.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/adapter.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/common/logger/ur_level.hpp
  source/common/logger/ur_logger.hpp
  source/common/logger/ur_logger_details.hpp
  source/common/logger/ur_sinks.hpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/adapter/CMakeLists.txt
  test/conformance/adapter/urAdapterSetLoggingCallback.cpp
  test/loader/CMakeLists.txt
  test/loader/adapter/CMakeLists.txt
  test/loader/adapter/urAdapterSetLoggingCallback.cpp
  test/unit/logger/fixtures.hpp
  test/unit/logger/logger.cpp
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

Update entrypoint with logLevel parameter and add thread safety
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/adapter.yml
  scripts/templates/ldrddi.cpp.mako
  source/adapters/cuda/adapter.cpp
  source/adapters/hip/adapter.cpp
  source/adapters/level_zero/adapter.cpp
  source/adapters/native_cpu/adapter.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/adapter.cpp
  source/common/logger/ur_level.hpp
  source/common/logger/ur_logger_details.hpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/adapter/urAdapterSetLoggingCallback.cpp
  test/loader/adapter/urAdapterSetLoggingCallback.cpp
  test/unit/logger/logger.cpp
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

Update existing documentation
  include/ur_api.h
  scripts/core/adapter.yml
  scripts/core/common.yml
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Owners: @oneapi-src/unified-runtime-maintain

[EXP][Command-Buffer] Remove duplicated code from headers
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.hpp
Owners: @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write

[SPEC] Add support for command-buffer kernel updates
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/opencl/command_buffer.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/invalid_update.cpp
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

update contributor list
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Add kernel update to command-buffer documentation
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Update changelog
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Update scripts/core/exp-command-buffer.yml
  scripts/core/exp-command-buffer.yml
Owners: @oneapi-src/unified-runtime-maintain

Address review comments
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Add testing for binary update
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/fill_usm_2d.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
Owners: @oneapi-src/unified-runtime-maintain

Add binary update implementation for Cuda
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device_code/fill_usm_2d.cpp
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/testing/include/uur/raii.h
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write

Fix mistakes in tests
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/level_zero/v2/api.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-level-zero-write

Address review comments
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Update changelog
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Update scripts/core/exp-command-buffer.yml
  scripts/core/exp-command-buffer.yml
Owners: @oneapi-src/unified-runtime-maintain

Add kernel update to command-buffer documentation
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

[SPEC] Add support for command-buffer kernel updates
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/opencl/command_buffer.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/invalid_update.cpp
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

update contributor list
  scripts/core/EXP-COMMAND-BUFFER.rst
Owners: @oneapi-src/unified-runtime-maintain

Add testing for binary update
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/fill_usm_2d.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
Owners: @oneapi-src/unified-runtime-maintain

Add binary update implementation for Cuda
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device_code/fill_usm_2d.cpp
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
  test/conformance/testing/include/uur/raii.h
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-level-zero-write

Add hip support and create capabilities flag
  include/ur_api.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/device.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/common.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/device.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
  tools/urinfo/urinfo.hpp
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

Make newWorkDim non-optional and remove newLocalWorkgroup nullptr errors
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/device.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/command_buffer.hpp
  source/adapters/opencl/device.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

Update spec to have less errors
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/common.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
Owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-opencl-write

Prototype new commnad-list submission entrypoint
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Part2
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Owners: @oneapi-src/unified-runtime-level-zero-write

:Fix event issues on updates
  source/adapters/level_zero/command_buffer.cpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Experimental fixes
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/event.cpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Fix profiling
  source/adapters/level_zero/command_buffer.cpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Run reset command list at the end
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Use counter based events
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/event.cpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Refactor part 1
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Owners: @oneapi-src/unified-runtime-level-zero-write

Refactor part 2
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Owners: @oneapi-src/unified-runtime-level-zero-write
