Repository fabiomestre/unified-runtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oneapi-src/unified-runtime-maintain, @oneapi-src/unified-runtime-level-zero-write, @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-hip-write, @oneapi-src/unified-runtime-opencl-write

Do not add OpenCL-ICD if it already exists
  source/adapters/opencl/CMakeLists.txt
Owners: @oneapi-src/unified-runtime-opencl-write

[DRAFT][CUDA] Add support for USMFill2D
  source/adapters/cuda/context.cpp
  source/adapters/cuda/enqueue.cpp
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
Owners: @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-maintain

[DRAFT][CUDA] Add support for USMFill2D
  source/adapters/cuda/context.cpp
  source/adapters/cuda/enqueue.cpp
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
Owners: @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-maintain

[CUDA] Add support for binary type query
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
Owners: @oneapi-src/unified-runtime-cuda-write

Use UR_PROGRAM_BINARY_TYPE_COMPILED_OBJECT on urProgramCreateWithBinary
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
Owners: @oneapi-src/unified-runtime-cuda-write

[CUDA] Change hint functions to return UR_SUCCESS
  source/adapters/cuda/enqueue.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

[CTS] Minor fixes for UR CTS
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/kernel/urKernelSetArgPointer.cpp
Owners: @oneapi-src/unified-runtime-maintain

Add extra checks for optional parameters and invalid flags
  include/ur_api.h
  scripts/core/queue.yml
  scripts/parse_specs.py
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/queue/urQueueCreate.cpp
Owners: @oneapi-src/unified-runtime-maintain

Add validation layer support for nullptr events (#929)
  scripts/templates/helper.py
  scripts/templates/valddi.cpp.mako
  source/loader/layers/validation/ur_valddi.cpp
  test/conformance/enqueue/urEnqueueEventsWait.cpp
  test/conformance/enqueue/urEnqueueEventsWaitWithBarrier.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopy.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopyRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferFill.cpp
  test/conformance/enqueue/urEnqueueMemBufferMap.cpp
  test/conformance/enqueue/urEnqueueMemBufferRead.cpp
  test/conformance/enqueue/urEnqueueMemBufferReadRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferWrite.cpp
  test/conformance/enqueue/urEnqueueMemBufferWriteRect.cpp
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/enqueue/urEnqueueMemImageRead.cpp
  test/conformance/enqueue/urEnqueueMemImageWrite.cpp
  test/conformance/enqueue/urEnqueueMemUnmap.cpp
  test/conformance/enqueue/urEnqueueReadHostPipe.cpp
  test/conformance/enqueue/urEnqueueUSMFill.cpp
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
  test/conformance/enqueue/urEnqueueUSMPrefetch.cpp
  test/conformance/enqueue/urEnqueueWriteHostPipe.cpp
Owners: @oneapi-src/unified-runtime-maintain

[DRAFT] Cherry-pick fixes from main branch
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
Owners: @oneapi-src/unified-runtime-maintain

[FILL2D] Remove debug code
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
Owners: @oneapi-src/unified-runtime-maintain

Update validation layers after cherry-pick
  source/loader/layers/validation/ur_valddi.cpp
Owners: @oneapi-src/unified-runtime-maintain

[DRAFT] Update validation layers
  include/ur_api.h
  scripts/core/device.yml
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device/urDeviceGet.cpp
Owners: @oneapi-src/unified-runtime-maintain

Implemente fill_2d
  source/adapters/cuda/enqueue.cpp
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
Owners: @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-maintain

Remove optimization
  source/adapters/cuda/enqueue.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

Re-add optimization commented
  source/adapters/cuda/enqueue.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

[OpenCL] Address coverity issue with dodgy struct-to-array casts
  source/adapters/opencl/enqueue.cpp
  source/adapters/opencl/program.cpp
Owners: @oneapi-src/unified-runtime-opencl-write

[CUDA] Change hint functions to return UR_SUCCESS
  source/adapters/cuda/enqueue.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

Address review comments
  source/adapters/cuda/enqueue.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

Remove extra spaces
  source/adapters/cuda/enqueue.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

[CUDA] Add support for binary type query
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
Owners: @oneapi-src/unified-runtime-cuda-write

Use UR_PROGRAM_BINARY_TYPE_COMPILED_OBJECT on urProgramCreateWithBinary
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
Owners: @oneapi-src/unified-runtime-cuda-write

[CTS] Minor fixes for UR CTS
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/kernel/urKernelSetArgPointer.cpp
Owners: @oneapi-src/unified-runtime-maintain

Add extra checks for optional parameters and invalid flags
  include/ur_api.h
  scripts/core/queue.yml
  scripts/parse_specs.py
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/queue/urQueueCreate.cpp
Owners: @oneapi-src/unified-runtime-maintain

[UR] Fix urContextNativeHandle CTS
  test/conformance/context/urContextCreateWithNativeHandle.cpp
Owners: @oneapi-src/unified-runtime-maintain

Add validation layer support for nullptr events (#929)
  scripts/templates/helper.py
  scripts/templates/valddi.cpp.mako
  source/loader/layers/validation/ur_valddi.cpp
  test/conformance/enqueue/urEnqueueEventsWait.cpp
  test/conformance/enqueue/urEnqueueEventsWaitWithBarrier.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopy.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopyRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferFill.cpp
  test/conformance/enqueue/urEnqueueMemBufferMap.cpp
  test/conformance/enqueue/urEnqueueMemBufferRead.cpp
  test/conformance/enqueue/urEnqueueMemBufferReadRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferWrite.cpp
  test/conformance/enqueue/urEnqueueMemBufferWriteRect.cpp
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/enqueue/urEnqueueMemImageRead.cpp
  test/conformance/enqueue/urEnqueueMemImageWrite.cpp
  test/conformance/enqueue/urEnqueueMemUnmap.cpp
  test/conformance/enqueue/urEnqueueReadHostPipe.cpp
  test/conformance/enqueue/urEnqueueUSMFill.cpp
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
  test/conformance/enqueue/urEnqueueUSMPrefetch.cpp
  test/conformance/enqueue/urEnqueueWriteHostPipe.cpp
Owners: @oneapi-src/unified-runtime-maintain

Fix a couple of minor issues in the USM fill and memcpy tests
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
Owners: @oneapi-src/unified-runtime-maintain

[UR] Fix program CTS assesion checks
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
Owners: @oneapi-src/unified-runtime-maintain

[UR] Fixup minor CTS issues
  test/conformance/event/urEventSetCallback.cpp
  test/conformance/memory/urMemGetInfo.cpp
Owners: @oneapi-src/unified-runtime-maintain

[UR] Add validation check to urDeviceGet
  scripts/core/device.yml
  test/conformance/device/urDeviceGet.cpp
Owners: @oneapi-src/unified-runtime-maintain

Query support for 2D USM operations in CTS tests.
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
Owners: @oneapi-src/unified-runtime-maintain

[DRAFT] Update validation layers after cherry-picks
  include/ur_api.h
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Owners: @oneapi-src/unified-runtime-maintain

Fix a few minor CTS issues, notably:
  test/conformance/enqueue/urEnqueueWriteHostPipe.cpp
  test/conformance/kernel/urKernelCreateWithNativeHandle.cpp
  test/conformance/program/urProgramCreateWithNativeHandle.cpp
  test/conformance/program/urProgramGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/virtual_memory/urVirtualMemGranularityGetInfo.cpp
Owners: @oneapi-src/unified-runtime-maintain

[CUDA] Implement virtual memory device query
  source/adapters/cuda/device.cpp
  test/conformance/virtual_memory/virtual_memory_adapter_cuda.match
Owners: @oneapi-src/unified-runtime-cuda-write, @oneapi-src/unified-runtime-maintain

Playground
  source/loader/ur_adapter_registry.hpp
  test/conformance/platform/fixtures.h
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/checks.h
  test/conformance/testing/include/uur/environment.h
Owners: @oneapi-src/unified-runtime-maintain

Refactor cuda adapter to new logger
  source/adapters/cuda/adapter.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/common.cpp
  source/adapters/cuda/device.cpp
Owners: @oneapi-src/unified-runtime-cuda-write

Refactor hip adapter to new logger
  source/adapters/hip/adapter.cpp
  source/adapters/hip/common.cpp
Owners: @oneapi-src/unified-runtime-hip-write

Refactor opencl adapter to new logger
  source/adapters/opencl/adapter.cpp
  source/adapters/opencl/common.cpp
Owners: @oneapi-src/unified-runtime-opencl-write

Refactor native cpu adapter to new logger
  source/adapters/native_cpu/adapter.cpp
  source/adapters/native_cpu/common.cpp
  source/adapters/native_cpu/common.hpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/platform.cpp
Owners: @oneapi-src/unified-runtime-maintain

Refactor Level Zero Adapter to use new logger
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/sampler.cpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm_p2p.cpp
  source/adapters/level_zero/virtual_mem.cpp
Owners: @oneapi-src/unified-runtime-level-zero-write

.github/CODEOWNERS:

*                               @oneapi-src/unified-runtime-maintain

# Level Zero adapter
source/adapters/level_zero      @oneapi-src/unified-runtime-level-zero-write

# CUDA and HIP adapters
source/adapters/cuda            @oneapi-src/unified-runtime-cuda-write
source/adapters/hip             @oneapi-src/unified-runtime-hip-write

# OpenCL adapter
source/adapters/opencl          @oneapi-src/unified-runtime-opencl-write
